# Common
MONGODB_URL=mongodb+srv://<user>:<password>@<cluster>/?retryWrites=true&w=majority&appName=<app>
REDIS_URL=redis://<user>:<password>@<host>:<port>
DATABASE_NAME=wfm
JWT_SECRET_KEY=replace-with-strong-secret
ENVIRONMENT=production
ENV_FILE=env.online
